<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">AceEmailHarvest</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Search", "/search"  %></li>
        <% if current_user && !current_user.is_lock %>
            <li><%= link_to "Searching History", "/searching_history"  %></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">
                Email Campaign
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a href="<%= new_email_campaign_path %>"  class="dropdown-item"><i class="glyphicon glyphicon-envelope"></i> New Email Campaign</a></li>
                <li><a href="<%= email_campaigns_path  %>"  class="dropdown-item"><i class="glyphicon glyphicon-list-alt"></i> History Of Email Campaigns</a></li>
              </ul>
            </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user && !current_user.is_lock %>
            <li class="dropdown">
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <%= full_name_of_user(current_user) %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a href="<%= edit_user_registration_path %>"  class="dropdown-item"><i class="glyphicon glyphicon-user"></i> Edit Profile</a></li>
                <li><a href="<%= destroy_user_session_path %>" data-method="delete"  class="dropdown-item"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
              </ul>
            </li>
        <% else %>
            <li>
              <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In') %>
            </li>
            <li>
              <%= link_to('Sign Up', new_user_registration_path , class: 'btn btn-danger', title: 'Sign Up') %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
